.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.task {
    font-weight: bold;
}

.btn-active {
    color: white;
    background-color: hotpink;
    border: 2px solid hotpink;
    border-radius: 3px;
}

.input-error {
    border: 2px solid red;
    outline: none;
}